


#landing .bt-container{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(216, 216, 216, 0.582);
    border-radius: 1em;
    transition: 0.2s all;
    z-index:100;
    overflow: hidden;
}


#landing .bt-container a{
    padding:1em 1em;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 5;
}

#landing .bt-container:hover {
    background-color: rgb(216, 216, 216);
    transform: scale(0.97);
}
#landing a{
    list-style: none;
    text-decoration: none;
}
#landing .bt{
    padding:3px;
    background: linear-gradient(135deg, #171717, #444245);
    border-radius: 50%;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

#landing .bt i{
    color: #FFD43B;
    font-size: 2em;
}
#landing .bt-text{
    color: black;
    margin:0 0 0 0.8em;
}
