.game-1{
    background: url("game1bg.png");
    background-size: cover;
    background-position: center bottom;
    display:flex;
    
  }
  
  .game-1 .start{
    position: absolute;
    top: calc(50% - 7em);
    left: 25%;
    width: 50%;
    background: rgba(200, 200, 200, .9);
    box-shadow: -3px -3px 0px white;
    padding: 1em;
    z-index: 1000;
    text-align:center;
    display: block;
    border-radius: 25px;
  }
  
  .game-1 .startbtn{
    margin:auto;
    background: hsl(251, 20%, 20%);
    padding: 0.5em;
    transition: 0.5s;
    width: 80%;
    border-radius: 10px;
    color: white;
  }
  
  .game-1 .startbtn:hover{
    background:hsl(251, 30%, 40%);
  }
  
  .game-1 .helpbox{
    background: rgba(200, 200, 200, .9);
    box-shadow: -3px -3px 0px white;
    padding: 0.5em;
    position:absolute;
    z-index: 5000;
    top: 20%;
    left: 5%;
    display: none;
    transition: 0.5s;
    max-width: 50%;
    border-radius: 10px;
  }
  
  .game-1 .rocketbox{
    height: 80%;
    margin: auto;
    margin-bottom: 15px;
    position:relative;
  }
  
  .game-1 .controls{
    position:absolute;
    height:15%;
    width: 98%;
    top:0;
    background: rgba(255, 255, 255, 0.25);
    z-index: 30;
    display: inline-flex;
    margin: 1%;
    border-radius: 25px;
  }
  
  .game-1 .controls > div{
    background:rgba(200, 200, 200, 1);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5%;
    height: 50%;
    padding-inline: 0.5em;
    display:flex;
    align-items:center;
    justify-content:center;
    border: 2px solid black;
    font-size: 1.5rem;
  }
  
  .game-1 .help{
    border-radius: 50%;
    transition: 0.5s;
    width: 1.25em;
  }

  .game-1 .controls > div:nth-child(2){
    border-radius: 10px;
  }

  .game-1 .controls > div:nth-child(3){
    border-radius: 10px;
  }
  
  .game-1 .help:hover{
    background: lightyellow;
  }
  
  .game-1 .continue{
    margin:auto;
    background: hsl(251, 20%, 20%);
    border-radius: 10px;
    color: white;
    padding: 0.5em;
    transition: 0.5s;
    color: white;
    width: 25%;
  }
  
  .game-1 .endgame{
    position: absolute;
    top: calc(50% - 7em);
    left: 25%;
    width: 50%;
    background: rgba(200, 200, 200, .9);
    box-shadow: -3px -3px 0px white;
    padding: 1em;
    z-index: 1000;
    text-align:center;
    display: none;
    border-radius: 25px;
  }
  
  .game-1 .restart{
    margin:auto;
    background: hsl(251, 20%, 20%);
    border-radius: 10px;
    color: white;
    padding: 0.5em;
    transition: 0.5s;
    width: 25%;
  }
  
  .game-1 .restart:hover{
    background:hsl(251, 30%, 40%);
  }
  
  .game-1 .continue:hover{
    background:hsl(251, 30%, 40%);
  }
  
  
  @keyframes spawnfire{
    from{transform: scale(0);}
    to{transform:scale(1);}
  }