#game-2{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

#game-2 .wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #f3f2f7;
}

/*------------------------------------------------*/
#game-2 .restart {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  color: white;
}

#game-2 .restart>svg {
  cursor: pointer;
  width: 3em;
  transition:0.1s ease-out;
}

#game-2 .restart>svg:hover {
  transform:scale(1.1);
  transition:0.1s ease-out;
}

/*------------------------------------------------*/

#game-2 .interface {
  padding: 1em;
  background-color: #3F3F3F;
  display: flex;
  justify-content: start;
  overflow: scroll;
}

#game-2 .interface::-webkit-scrollbar {
  display: none;
}


#game-2 .user-input-1 {
  display: flex;
  align-items: center;
  padding: 0.6em;
  background-color: #535353;
  box-sizing: border-box;
  border-radius: 4px;
}

#game-2 .user-input-1>label {
  font-family: cloud;
  color: white;
  margin: 0 15px 0 0;
  font-weight: 400;
  font-size: 1em;
}

#game-2 .user-input-1>input {
  outline: none;
  height: 100%;
  padding: 10px;
  border: 2px solid rgb(59, 64, 77);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: black;
  color: rgb(0, 255, 0);
}

#game-2 .submit-button {
  position: relative;
  display: flex;
  margin: 0 0 0 auto;
}

@media only screen and (max-width: 800px) {
  #game-2 .submit-button {
    margin: 0 0 0 50px;
  }
}

#game-2 .submit-button button {
  position: relative;
  padding: 10px 30px;
  font-size: 1.2em;
  background-color: rgb(231, 66, 66);
  border: none;
  border-radius: 8px;
  z-index: 2;
  cursor: pointer;
  transition: all 0.1s;
}

#game-2 .submit-button button:active {
  transform: translate(0, 5px);
  background-color: rgb(206, 60, 60);
}

#game-2 .submit-button>div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(128, 35, 35);
  transform: translate(0, 5px);
  border-radius: 8px;
  z-index: 1;
  transition: all 0.5s;

}

/* ================================================================= */
#game-2 .user-input-2 {
  display: flex;
  align-items: center;
  padding: 0.6em;
  background-color: #535353;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 0 0 20px;
}

#game-2 .user-input-2>label {
  font-family: cloud;
  color: white;
  margin: 0 15px 0 0;
  font-weight: 400;
  font-size: 1em;
}

#game-2 .user-input-2>input {
  outline: none;
  height: 100%;
  padding: 10px;
  border: 2px solid rgb(59, 64, 77);
  border-radius: 2px;
  box-sizing: border-box;
  background-color: black;
  color: rgb(0, 255, 0);
}

/* ================================================================= */

#game-2 .user-input-3 {
  display: flex;
  align-items: center;
  padding: 0.6em;
  background-color: #535353;
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0 0 0 20px;
}

#game-2 .user-input-3>label {
  font-family: cloud;
  color: white;
  margin: 0 15px 0 0;
  font-weight: 400;
  font-size: 1em;
}

#game-2 .user-input-3>.fuel-bar {
  width: 120px;
  height: 100%;
  background-color: #424242;
  border-radius: 2px;
  overflow: hidden;
}

#game-2 .fuel-bar>#current-fuel {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(12, 145, 12, 1) 0%, rgba(41, 238, 41, 1) 100%);
  transition: all 0.5s ease-in-out;
}

/* ======================== Canvas ============================== */

#game-2 .game {
  height: 100%;
  overflow-y: hidden;
  background: url("./spacebackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

#game-2 .game-canvas {
  position: relative;
  height: 100%;
  width: 1492px;

}

/*   Ship   */
#game-2 .space-ship {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.308));
  transition: all 1s ease-in-out;
  pointer-events: none;
}

@keyframes shipmove {
  0% {
    transform: translate(4px, 7px);
  }

  50% {
    transform: translate(-4px, -5px);
  }

  100% {
    transform: translate(0);
  }
}

#game-2 .space-ship img[alt="ship"] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  animation: shipmove 2s alternate ease-out infinite;
}


#game-2 .space-ship img[alt="thruster"] {
  position: absolute;
  top: 2px;
  width: 200px;
  animation: thrustereffect 2s alternate ease-in-out infinite;
  pointer-events: none;
}

@keyframes thrustereffect {
  0% {
    opacity: 0.5;
    left: -95px;
    transform: translate(4px, 7px);
  }

  50% {
    transform: translate(-4px, -5px);
  }

  100% {
    opacity: 1;
    left: -92px;
    transform: translate(0);
  }
}

/* ------- */

#game-2 .victory-planet {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 90px;
  right: 90px;
  z-index: 5;
  border-radius: 50%;
  line-height: 200px;
  text-align: center;
  background-image: url("./earth2.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: earthmoving 2s alternate infinite;
}

@keyframes earthmoving {
  0% {
    transform: translate(4px, 7px);
  }

  50% {
    transform: translate(-4px, -5px);
  }

  100% {
    transform: translate(0);
  }
}